h1 {
  text-align: center;
  font-size: 36px; /* Increase font size */
}

#reader {
  width: 800px; /* Increase width */
}

.result {
  background-color: green;
  color: #fff;
  padding: 40px; /* Increase padding */
  font-size: 24px; /* Increase font size */
}

.row {
  display: flex;
}

#reader__scan_region {
  background: white;
  height: 400px; /* Increase height */
  width: 600px; /* Increase width */
}
